<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="script.js" charset="UTF-8" type="text/javascript"></script>
</head>
<body ng-app="todo" ng-controller="TodoCtrl">
<div class="container">
    <todo-title></todo-title>
    <form name="todoForm" ng-submit="add(newTodoTitle)">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="newTodoTitle" placeholder="새로운 투두를 입력하세요..." minlength="3">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">추가</button>
            </span>
        </div>
        <div ng-show="todoForm.$dirty && todoForm.$invalid">
            <div class="alert alert-warning" role="alert">3글자 이상 입력하세요.</div>
        </div>
    </form>
    <!--<pre>{{ todoForm | json }}}</pre>-->
    <ul>
        <li ng-repeat="todo in todos | filter:statusFilter" class="list-unstyled">
            <!--<div class="input-group">
                  <span class="input-group-addon">
                      <input type="checkbox" ng-model="todo.completed">
                  </span>
                <input type="text" class="form-control" ng-model="todo.title">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" ng-click="remove(todo)">삭제</button>
                </span>
            </div>&lt;!&ndash; /input-group &ndash;&gt;
            <date>{{ todo.createAt | date:'yyyy-MM-dd HH:mm:ss' }}</date>-->
            <todo-item></todo-item>
        </li>
    </ul>
    <button class="btn btn-primary" ng-click="statusFilter={completed:true}">Completed</button>
    <button class="btn btn-primary" ng-click="statusFilter={completed:false}">Active</button>
    <button class="btn btn-primary" ng-click="statusFilter={}">All</button>
</div>
</body>
</html>