<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="script.js" charset="UTF-8"></script>
    </head>
    <body ng-app="todo" ng-controller="TodoCtrl">
      <ul>
            <li ng-repeat="todo in todos" class="list-unstyled">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="todo.completed">
                        </span>
                        <input type="text" class="form-control" ng-model="todo.title">
                    </div><!-- /input-group -->
                    <date>{{ todo.createAt }}</date>
            </li>
        </ul>
    </body>
</html>